[Unit]
Description=LXD Container Hypervisor
Documentation=http://linuxcontainers.org
After=network.target

[Service]
Type=notify
ExecStart=/usr/sbin/lxd daemon --syslog
ExecReload=/bin/kill -s HUP $MAINPID
LimitNOFILE=infinity
LimitNPROC=infinity
LimitCORE=infinity
TimeoutStartSec=0
Delegate=yes
KillMode=process

[Install]
WantedBy=multi-user.target
